@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdr.ttf) format('truetype');
}
body {
  font-family: "Source Sans Pro";
  overflow-x: hidden;
}
section {
  padding: 50px 0;
}
a {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  color: #ECBA00;
  border: 1px transparent solid;
  cursor: pointer;
  padding: 0 8px;
  font-size: 26px;
}
#myBtn:hover {
  background: transparent;
  border-color: #ECBA00;
}
.onix-mark {
  float: right;
  position: relative;
  width: 4em;
  margin: -3em 1em 0 auto;
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.onix-mark:hover {
  opacity: 1;
}
.onix-mark span {
  font-size: 10px;
}
.btn-custom {
  width: 10em;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.btn-custom:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: #000;
}
.navbar {
  width: 90vw;
  background-color: rgba(69, 69, 73, 0.82);
}
.navbar .nav-link {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}
.navbar .nav-link:hover {
  padding-bottom: 0;
  border-bottom: 1px solid #fff;
}
.navbar .btn-fale-conosco {
  padding: 0.2em 1em;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-top: 6px;
  margin-left: 1.5em;
}
.navbar .btn-fale-conosco:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000 !important;
  padding-bottom: 0.2em;
  border-bottom: rgba(255, 255, 255, 0.3);
}
header {
  height: 500px;
  padding-top: 3em;
  background: url("../img/bg-header.png") no-repeat top;
  background-size: cover;
  z-index: 0;
  position: relative;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
}
header::after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 45vw;
  height: 1.5em;
  bottom: -0.2vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
  z-index: -1;
}
header .carousel-inner {
  overflow: visible;
}
header .carousel-inner img {
  width: 500px;
  position: absolute;
  margin-bottom: -200px;
  right: -100px;
  z-index: 1;
}
header .box-header {
  color: #fff;
  background: linear-gradient(#595959, rgba(0, 0, 0, 0.3));
  border-top-right-radius: 25px;
  padding: 25px;
  max-width: 300px;
  min-height: 200px;
}
header .box-header span::after {
  content: "\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
  font-weight: bold;
}
header .btn-header {
  background-color: #FFFFFF;
  padding-left: 2em;
  -webkit-clip-path: polygon(0% 0, 100% 0%, 100% 100%, 10% 100%);
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 10% 100%);
  color: #222222;
  font-weight: bold;
}
header .btn-header:hover {
  background-color: #222222;
  color: #fff;
}
#about i {
  color: #DE8F47 !important;
}
#about img {
  border-radius: 5px;
}
#about .poster-main {
  position: relative;
  margin: 30px auto;
}
#about .poster-main ul {
  list-style: none;
}
#about .poster-main .poster-list .poster-item {
  position: absolute;
  left: 0;
  top: 0;
}
#about .poster-main .poster-list .poster-btn {
  position: absolute;
  top: 0;
  cursor: pointer;
}
#about .poster-main .poster-list .poster-prev-btn {
  left: 0;
  background: url("../img/left.png") no-repeat center center;
}
#about .poster-main .poster-list .poster-next-btn {
  right: 0;
  background: url("../img/right.png") no-repeat center center;
}
#about .stackAbout {
  position: relative;
  width: 95%;
  margin: 30px auto;
}
#about .stackAbout img {
  width: 480px;
  height: 260px;
  position: relative;
}
#about .stackAbout > .sheet {
  position: absolute;
  transition: all 300ms ease-in-out;
  display: block;
  padding: 20px;
  background: white;
  width: 100%;
  height: 300px;
  left: 0;
  justify-content: center !important;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  z-index: 0;
}
#about .stackAbout > .sheet img {
  margin: auto;
  left: 0;
  right: 0;
}
#about #prevAbout,
#about #nextAbout {
  position: absolute;
  top: 5em;
  z-index: 1;
}
#about #prevAbout {
  left: 0;
}
#about #nextAbout {
  right: 0;
}
#products {
  height: 550px;
  background: url("../img/trator-bg.png") no-repeat center;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 0;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
}
#products::after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 45vw;
  height: 1.5em;
  bottom: -0.2vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
  z-index: -1;
}
#products hr {
  height: 3px;
  border: none;
  color: #fff;
  background-color: #fff;
  width: 50px;
}
#products .card .card-img {
  transition: 3s ease-in-out;
}
#products .card:hover .card-img {
  transform: scale(1.5);
}
#products .card .card-img-overlay {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
}
#products .type-1 {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
  margin-bottom: 2em;
}
#products .type-1 hr {
  margin-right: 0;
}
#products .type-2 {
  -webkit-clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
  margin-bottom: 2em;
}
#products .type-2 hr {
  margin-left: 0;
}
#products .type-3 {
  -webkit-clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
}
#products .type-3 hr {
  margin-right: 0;
}
#products .type-4 {
  -webkit-clip-path: polygon(0 0, 92% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 92% 0, 100% 100%, 0 100%);
}
#products .type-4 hr {
  margin-left: 0;
}
#products .carousel-indicators {
  margin-bottom: -30px;
}
#services {
  height: 350px;
  padding-top: 0;
}
#services .card {
  text-align: left;
  background-color: #454549;
  min-height: 190px;
  transition: 0.3s ease-in-out;
}
#services .card:hover,
#services .card:focus {
  background-color: #DE8F47;
  transform: scale(1.02);
  min-height: 220px;
}
#services .card a {
  color: #fff !important;
  text-decoration: none !important;
}
#services .card img {
  width: 50px;
  margin-bottom: 10px;
}
#services .card hr {
  height: 2px;
  border: none;
  color: #fff;
  background-color: #fff;
  width: 30px;
  margin-left: 0;
}
#services #owl-demo .item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
#services #owl-demo .owl-prev,
#services #owl-demo .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}
#services #owl-demo .owl-prev {
  left: -2rem;
}
#services #owl-demo .owl-next {
  right: -2rem;
}
#services .modal {
  background-color: rgba(255, 255, 255, 0.5);
}
#services .modal .modal-content {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
#atendimento-online {
  background: url("../img/bg-fale-conosco.png") no-repeat top rgba(0, 0, 0, 0.5);
  color: #fff;
  background-size: cover;
  z-index: 0;
  position: relative;
  height: 550px;
}
#atendimento-online img {
  width: 480px;
  margin-left: -3em;
  position: relative;
}
#instamap {
  padding-bottom: 0;
  z-index: 0;
  position: relative;
}
#instamap #instagram {
  padding-bottom: 3em;
}
#instamap #instagram iframe {
  border: none;
  overflow: hidden;
  width: 100%;
  height: 160px;
}
#instamap #googleMap {
  width: 100%;
  height: 400px;
  z-index: 0;
}
#contact {
  background: url("../img/bg-contato2.png") no-repeat center;
  background-size: cover;
  z-index: 0;
  position: relative;
  -webkit-clip-path: polygon(30% 5%, 70% 5%, 73% 0, 100% 0, 100% 100%, 0 100%, 0 0, 27% 0);
  clip-path: polygon(30% 5%, 70% 5%, 73% 0, 100% 0, 100% 100%, 0 100%, 0 0, 27% 0);
  margin-top: -28px;
  margin-bottom: -17px;
  padding-bottom: 0;
  color: #fff;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.6);
}
#contact .lst-1,
#contact .lst-2 {
  padding: 1em 5em;
}
#contact .lst-1 {
  background-color: #DE8F47;
  padding: 1.2em 4em;
  -webkit-clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
  margin-right: -43px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
#contact .lst-2 {
  background-color: #303131 !important;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  margin-left: -43px;
  z-index: 2;
}
#contact .lst-2 input {
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #666666;
  border-radius: 0;
}
#contact .lst-2 .btn {
  background-color: transparent;
  border-bottom: 1px solid transparent !important;
}
#contact .lst-2 .btn i {
  color: #fff;
  font-size: 16px;
}
footer {
  background: #2c2d2d;
  position: relative;
  z-index: 0;
  color: #999999;
}
footer::after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 45vw;
  height: 1.5em;
  left: 0;
  right: 0;
  bottom: 1.4em;
  margin-left: auto;
  margin-right: auto;
  -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
  z-index: -1;
}
footer h6,
footer h5,
footer h4,
footer h3,
footer h2 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
footer a {
  color: #999999;
  text-decoration: none !important;
}
footer a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  color: #ffffff;
}
footer hr {
  height: 2px;
  border: none;
  color: #fff;
  background-color: #fff;
  width: 30px;
  margin-left: 0;
}
footer .fa-facebook,
footer .fa-instagram,
footer .fa-whatsapp,
footer .fa-twitter {
  padding: 0.5em 0.8em;
  background-color: #666666;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
footer .fa-facebook:hover,
footer .fa-instagram:hover,
footer .fa-whatsapp:hover,
footer .fa-twitter:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
footer .fa-facebook,
footer .fa-whatsapp {
  -webkit-clip-path: polygon(0 0, 75% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 75% 0%, 100% 100%, 0% 100%);
  margin-right: -5px;
}
footer .fa-instagram,
footer .fa-twitter {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  margin-left: -5px;
}
footer .brand-footer {
  padding-top: 5em;
  padding-bottom: 3em;
}
footer .copyright {
  color: #000;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .navbar {
    -webkit-clip-path: polygon(0% 0, 100% 0%, 97% 100%, 3% 100%);
    clip-path: polygon(0% 0, 100% 0%, 97% 100%, 3% 100%);
    padding-right: 3em;
    padding-bottom: 1em;
  }
  .navbar .navbar-brand img {
    z-index: 3;
  }
  .navbar .navbar-nav {
    z-index: 2;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 0;
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .navbar .nav-item,
  .navbar .fale-conosco {
    text-align: center;
    max-width: 400px;
    margin: auto;
    left: 0;
    right: 0;
  }
  .navbar .navbar-brand {
    margin-left: 3em;
  }
}
@media screen and (max-width: 991px) {
  header::after {
    width: 70vw;
  }
  header .carousel-inner img {
    right: 0;
  }
  #about .carouselAbout {
    margin-bottom: 25em;
  }
  #products {
    height: 480px;
  }
  #products::after {
    width: 70vw;
  }
  #products .card {
    min-height: 7em;
  }
  #products .card .card-img {
    width: 120%;
  }
  #atendimento-online img {
    margin-left: -4em;
  }
  #instamap #googleMap {
    height: 300px;
  }
  #contact {
    -webkit-clip-path: polygon(15% 5%, 85% 5%, 89% 0, 100% 0, 100% 100%, 0 100%, 0 0, 11% 0);
    clip-path: polygon(15% 5%, 85% 5%, 89% 0, 100% 0, 100% 100%, 0 100%, 0 0, 11% 0);
  }
  footer::after {
    width: 70vw;
  }
}
@media screen and (max-width: 767px) {
  header {
    height: 450px;
  }
  header .carousel-inner img {
    width: 450px;
    right: 0;
  }
  header .box-header {
    width: 230px;
  }
  #products {
    height: 430px;
  }
  #products #carouselProducts .card {
    min-height: 6em;
  }
  #products #carouselProducts .card .card-img {
    width: 140%;
  }
  #products #carouselProducts .card .card-title {
    font-size: 16px;
  }
  #products #carouselProducts .card .card-text {
    font-size: 12px;
  }
  #services {
    height: 250px;
  }
  #services #owl-demo h5,
  #services #owl-demo strong {
    display: none;
  }
  #services #owl-demo .item {
    height: 110px;
  }
  #services #owl-demo .item img {
    margin: auto;
  }
  #services #owl-demo .item hr {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  header .carousel-inner img {
    right: 3em;
  }
  header .box-header {
    margin-left: -4em;
  }
  #contact {
    margin-top: -30px;
  }
  #contact .lst-1 {
    padding-left: 5em;
    padding-right: 5em;
  }
  #contact .lst-1 {
    margin: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  }
  #contact .lst-2 {
    margin: 0;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  }
}
@media screen and (max-width: 575px) {
  header .carousel-inner img {
    display: none;
  }
  header .box-header {
    width: 300px;
    margin: auto;
    left: 0;
    right: 0;
  }
  #products #carouselProducts .card .card-img {
    width: 200%;
  }
  #services #owl-demo .item {
    width: 5em;
  }
  #services #owl-demo .item img {
    width: 40px;
  }
  .onix-mark {
    margin: -6em 2em 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */