//Imports
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,600,700,800,900');

//Variables

@time-transition: .3s;

//Globals

body {
  font-family: "Source Sans Pro";
  overflow-x: hidden;
}

section {
  padding: 50px 0;
}

a {
  -webkit-transition: @time-transition ease-in-out;
  -moz-transition: @time-transition ease-in-out;
  -ms-transition: @time-transition ease-in-out;
  -o-transition: @time-transition ease-in-out;
  transition: @time-transition ease-in-out;

  &:hover {
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  color: #ECBA00;
  border: 1px transparent solid;
  cursor: pointer;
  padding: 0 8px;
  font-size: 26px;

  &:hover {
    background: transparent;
    border-color: #ECBA00;
  }

}

.onix-mark {
  float: right;
  position: relative;
  width: 4em;
  margin: -3em 1em 0 auto;
  opacity: .5;
  -webkit-transition: @time-transition ease-in-out;
  -moz-transition: @time-transition ease-in-out;
  -ms-transition: @time-transition ease-in-out;
  -o-transition: @time-transition ease-in-out;
  transition: @time-transition ease-in-out;

  &:hover {
    opacity: 1;
  }

  span {
    font-size: 10px;
  }
}

//Buttons

.btn-custom {
  width: 10em;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;

  &:hover {
    background-color: rgba(0, 0, 0, .8);
    border-color: #000;
  }

}

//Contents

.navbar {
  width: 90vw;
  background-color: rgba(69, 69, 73, .82);
  .nav-link {
    font-size: 13px;
    color: #fff;
    //font-weight: bold;
    text-transform: uppercase;

    &:hover {
      padding-bottom: 0;
      border-bottom: 1px solid #fff;
    }
  }

  .btn-fale-conosco {
    padding: .2em 1em;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 15px;
    margin-top: 6px;
    margin-left: 1.5em;

    &:hover {
      background-color: rgba(255, 255, 255, .3);
      color: #000 !important;
      padding-bottom: .2em;
      border-bottom: rgba(255, 255, 255, .3);
    }

  }
}

header {
  height: 500px;
  padding-top: 3em;
  background: url("../img/bg-header.png") no-repeat top;
  background-size: cover;
  z-index: 0;
  position: relative;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, .3);

  &::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 45vw;
    height: 1.5em;
    bottom: -.2vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
    z-index: -1;
  }

  .carousel-inner {
    overflow: visible;

    img {
      width: 500px;
      position: absolute;
      margin-bottom: -200px;
      right: -100px;
      z-index: 1;
    }

  }

  .box-header {
    color: #fff;
    background: linear-gradient(#595959, rgba(0, 0, 0, 0.3));
    border-top-right-radius: 25px;
    padding: 25px;
    max-width: 300px;
    min-height: 200px;

    span {
      &::after {
        content: "\00a0\00a0\00a0\00a0\00a0";
        text-decoration: line-through;
        font-weight: bold;
      }
    }
  }

  .btn-header {
    background-color: #FFFFFF;
    padding-left: 2em;
    -webkit-clip-path: polygon(0% 0, 100% 0%, 100% 100%, 10% 100%);
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 10% 100%);
    color: #222222;
    font-weight: bold;

    &:hover {

      background-color: #222222;
      color: #fff;
      //clip-path: polygon(0% 0, 100% 0%, 90% 100%, 0% 100%);
      //padding-right: 2em;
      //padding-left: 1em;

    }
  }

}

#about {
  i {
    color: #DE8F47 !important;
  }

  img {
    border-radius: 5px;
  }

  .poster-main {
    position: relative;
    margin: 30px auto;
    //max-width:1000px;

    ul {
      list-style: none;
    }

    .poster-list {
      .poster-item {
        position: absolute;
        left: 0;
        top: 0;
      }
      .poster-btn {
        position: absolute;
        top: 0;
        cursor: pointer;
      }
      .poster-prev-btn {
        left: 0;
        background: url("../img/left.png") no-repeat center center;
      }
      .poster-next-btn {
        right: 0;
        background: url("../img/right.png") no-repeat center center;
      }
    }
  }

  .stackAbout {
    position: relative;
    width: 95%;
    margin: 30px auto;

    img{
      width: 480px;
      height: 260px;
      position: relative;
    }
  }

  .stackAbout > .sheet {
    position: absolute;
    transition: all 300ms ease-in-out;
    display: block;
    padding: 20px;
    background: white;
    width: 100%;
    height: 300px;
    left: 0;
    justify-content: center !important;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    z-index: 0;

    img{
      margin: auto;
      left: 0;
      right: 0;
    }

  }



  #prevAbout, #nextAbout {
    position: absolute;
    top: 5em;
    z-index: 1;
  }

  #prevAbout {
    left: 0;
  }

  #nextAbout {
    right: 0;
  }

}

#products {
  height: 550px;
  background: url("../img/trator-bg.png") no-repeat center;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 0;

  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, .3);

  &::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 45vw;
    height: 1.5em;
    bottom: -.2vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
    z-index: -1;
  }

  hr {
    height: 3px;
    border: none;
    color: #fff;
    background-color: #fff;
    width: 50px;
  }

  .card {
    .card-img {
      transition: 3s ease-in-out;
    }

    &:hover {
      .card-img {
        transform: scale(1.5);
      }
    }

    .card-img-overlay {
      content: '';
      background-color: rgba(0, 0, 0, 0.7);
      height: 100%;
    }

  }

  .type-1 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
    margin-bottom: 2em;

    hr {
      //text-align: right;
      margin-right: 0;
    }
  }

  .type-2 {
    -webkit-clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
    margin-bottom: 2em;

    hr {
      margin-left: 0;
    }

  }

  .type-3 {
    -webkit-clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
    hr {
      margin-right: 0;
    }

  }

  .type-4 {
    -webkit-clip-path: polygon(0 0, 92% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 92% 0, 100% 100%, 0 100%);

    hr {
      margin-left: 0;
    }

  }

  .carousel-indicators {
    margin-bottom: -30px;
  }

}

#services {

  height: 350px;

  padding-top: 0;

  .card {
    text-align: left;
    background-color: #454549;
    min-height: 190px;
    transition: @time-transition ease-in-out;

    &:hover,
    &:focus {
      background-color: #DE8F47;
      transform: scale(1.02);
      min-height: 220px;
    }

    a {
      color: #fff !important;
      text-decoration: none !important;
    }

    img {
      width: 50px;
      margin-bottom: 10px;
    }

    hr {
      height: 2px;
      border: none;
      color: #fff;
      background-color: #fff;
      width: 30px;
      margin-left: 0;

    }
  }

  #owl-demo {

    .item {
      //background: #42bdc2;
      //padding: 30px 0px;
      //margin: 10px;
      //color: #FFF;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-align: center;
    }

    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 25px;
    }

    .owl-prev {
      left: -2rem;
    }

    .owl-next {
      right: -2rem;
    }
  }

  .modal{
    background-color: rgba(255, 255, 255, .5);
    .modal-content{
      background-color: rgba(0, 0, 0, .7);
      color: #fff;
    }
  }

}

#atendimento-online {
  background: url("../img/bg-fale-conosco.png") no-repeat top rgba(0, 0, 0, .5);
  color: #fff;
  background-size: cover;
  z-index: 0;
  position: relative;
  height: 550px;

  img {
    width: 480px;
    margin-left: -3em;
    position: relative;
  }
}

#instamap {
  padding-bottom: 0;
  z-index: 0;
  position: relative;

  #instagram {
    padding-bottom: 3em;
    iframe {
      border: none;
      overflow: hidden;
      width: 100%;
      height: 160px;
    }
  }

  #googleMap {
    width: 100%;
    height: 400px;
    z-index: 0;
  }

}

#contact {
  //height: 70vh;
  //padding-top: 5em;
  background: url("../img/bg-contato2.png") no-repeat center;
  background-size: cover;
  z-index: 0;
  position: relative;
  -webkit-clip-path: polygon(30% 5%, 70% 5%, 73% 0, 100% 0, 100% 100%, 0 100%, 0 0, 27% 0);
  clip-path: polygon(30% 5%, 70% 5%, 73% 0, 100% 0, 100% 100%, 0 100%, 0 0, 27% 0);
  margin-top: -28px;
  margin-bottom: -17px;
  padding-bottom: 0;
  color: #fff;

  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, .6);

  .lst-1, .lst-2 {
    padding: 1em 5em;
  }

  .lst-1 {
    background-color: #DE8F47;
    padding: 1.2em 4em;
    -webkit-clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    margin-right: -43px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;

  }

  .lst-2 {
    background-color: #303131 !important;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    margin-left: -43px;
    z-index: 2;

    input {
      background-color: transparent;
      border: transparent;
      border-bottom: 1px solid #666666;
      border-radius: 0;
    }

    .btn {
      background-color: transparent;
      border-bottom: 1px solid transparent !important;
      i {
        color: #fff;
        font-size: 16px;
      }
    }

  }

}

footer {
  background: #2c2d2d;
  position: relative;
  z-index: 0;
  color: #999999;
  //box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, .3);

  &::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 45vw;
    height: 1.5em;
    left: 0;
    right: 0;
    bottom: 1.4em;
    margin-left: auto;
    margin-right: auto;
    -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
    z-index: -1;
  }

  h6, h5, h4, h3, h2 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }

  a {
    color: #999999;
    text-decoration: none !important;

    &:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      color: rgba(255, 255, 255, 1);
    }
  }

  hr {
    height: 2px;
    border: none;
    color: #fff;
    background-color: #fff;
    width: 30px;
    margin-left: 0;

  }

  .fa-facebook,
  .fa-instagram,
  .fa-whatsapp,
  .fa-twitter {
    padding: .5em .8em;
    background-color: #666666;
    color: #fff;

    -webkit-transition: @time-transition ease-in-out;
    -moz-transition: @time-transition ease-in-out;
    -ms-transition: @time-transition ease-in-out;
    -o-transition: @time-transition ease-in-out;
    transition: @time-transition ease-in-out;

    &:hover {

      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);

    }

  }

  .fa-facebook, .fa-whatsapp {
    -webkit-clip-path: polygon(0 0, 75% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 75% 0%, 100% 100%, 0% 100%);
    margin-right: -5px;
  }

  .fa-instagram, .fa-twitter {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
    margin-left: -5px;
  }

  .brand-footer {
    padding-top: 5em;
    padding-bottom: 3em;
  }

  .copyright {
    color: #000;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

}

//Other devices
@media screen and (min-width: 768px) {
  .navbar {
    -webkit-clip-path: polygon(0% 0, 100% 0%, 97% 100%, 3% 100%);
    clip-path: polygon(0% 0, 100% 0%, 97% 100%, 3% 100%);
    padding-right: 3em;
    padding-bottom: 1em;

    .navbar-brand img {
      z-index: 3;
    }

    .navbar-nav {
      z-index: 2;
    }

  }
}

@media screen and (min-width: 1200px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 0;
    text-align: center;
  }

}

//Responsives

@media screen and (max-width: 1199px) {
  .navbar {

    .nav-item, .fale-conosco {
      text-align: center;
      max-width: 400px;
      margin: auto;
      left: 0;
      right: 0;
    }

    .navbar-brand {
      margin-left: 3em;
    }
  }
}

@media screen and (max-width: 991px) {

  header {

    &::after {
      width: 70vw;
    }

    .carousel-inner {
      img {
        //width: 400px;
        right: 0;
      }

    }
  }

  #about {
    .carouselAbout {
      margin-bottom: 25em;
    }
  }

  #products {

    height: 480px;

    &::after {
      width: 70vw;
    }

    .card {
      //max-width: 400px;
      min-height: 7em;

      .card-img {
        width: 120%;
      }

    }

  }

  #atendimento-online {
    img {
      //max-width: 400px; cadas
      margin-left: -4em;
    }
  }

  #instamap {
    #googleMap {
      height: 300px;
    }
  }

  #contact {
    -webkit-clip-path: polygon(15% 5%, 85% 5%, 89% 0, 100% 0, 100% 100%, 0 100%, 0 0, 11% 0);
    clip-path: polygon(15% 5%, 85% 5%, 89% 0, 100% 0, 100% 100%, 0 100%, 0 0, 11% 0);
  }

  footer {
    &::after {
      width: 70vw;
    }
  }

}

@media screen and (max-width: 767px) {

  header {

    height: 450px;

    .carousel-inner {

      img {
        width: 450px;
        right: 0;
      }

    }

    .box-header {
      width: 230px;
    }
  }

  #products {

    height: 430px;

    #carouselProducts {

      .card {
        min-height: 6em;

        .card-img {
          width: 140%;
        }

        .card-title {
          font-size: 16px;
        }

        .card-text {
          font-size: 12px;
        }

      }
    }
  }

  #services {

    height: 250px;

    #owl-demo {
      h5, strong {
        display: none;
      }

      .item {
        height: 110px;

        img {
          margin: auto;
        }

        hr {
          width: 100%;
        }
      }
    }

  }

}

@media screen and (max-width: 720px) {

  header {
    .carousel-inner {
      img {
        //width: 400px;
        right: 3em;
      }
    }

    .box-header{
      margin-left: -4em;
    }
  }

  #contact {

    margin-top: -30px;

    .lst-1{
      padding-left: 5em;
      padding-right: 5em;
    }

    .lst-1 {
      //font-size: 14px;
      margin: 0;
      -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
      clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    }

    .lst-2 {
      margin: 0;
      //padding-left: 7em;
      //padding-right: 7em;
      -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);

    }
  }

}

@media screen and (max-width: 575px) {
  header{
    .carousel-inner{
      img{
        display: none;
      }
    }

    .box-header{
      width: 300px;
      margin: auto;
      left: 0;
      right: 0;
    }
  }

  #products {

    #carouselProducts {

      .card {
        .card-img {
          width: 200%;
        }
      }
    }
  }

  #services{

    #owl-demo{

      .owl-item{
          //margin-right: 20px !important;
      }

      .item{
        width: 5em;
        img{
          width: 40px;
        }
      }
    }

  }

  .onix-mark{

    margin: -6em 2em 0 auto;

  }

}
