
.stackAbout {
  position: relative;
  width: 400px;
  margin: 30px auto;
}

.stackAbout > .sheet {
  position: absolute;
  transition: all 300ms ease-in-out;
  display: block;
  padding: 20px;
  background: white;
  width: 100%;
  height: 300px;
  left: 0;
  overflow: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
